@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 270 4% 10%;
    --card-foreground: 240 6% 94%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 163, 94%, 24%;
    --primary-foreground: 0 0% 93%;
    --secondary: 256 42% 25%;
    --secondary-foreground: 249 94% 93%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 163, 94%, 24%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 270 4% 10%;
    --card-foreground: 240 6% 94%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 163, 94%, 24%;
    --primary-foreground: 0 0% 93%;
    --secondary: 256 42% 25%;
    --secondary-foreground: 249 94% 93%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 163, 94%, 24%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::-webkit-scrollbar {
    @apply w-0.5;
  }
  ::-webkit-scrollbar {
    @apply h-0.5;
  }
  ::-webkit-scrollbar-track {
    @apply bg-primary;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-background/60 rounded;
  }
}

@layer components {
  .loading {
    @apply absolute w-full h-full bg-white/20  animate-loading;
  }
}
